@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
  box-sizing: border-box;
}

span.code {
  font-family: monospace;
}

span.light {
  font-weight: 200;
}

#waiting-room h2 {
  margin-bottom: 0.25rem;
}

#waiting-room h2.light {
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 300;
}

#waiting-room h4 {
  margin-bottom: 3rem;
}

span.join-link {
  color: dodgerblue;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.icon-EASY, .icon-MEDIUM, .icon-HARD {
  display: inline-block;
  margin-right: 1rem;
}

.icon-EASY {
  width: 1rem;
  height: 1rem;
  background-color: #14d984;
}

.icon-MEDIUM {
  width: 0;
  height: 0;
  margin-left: -0.1rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1rem solid dodgerblue;
}

.icon-HARD {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: -0.1rem;
  border-radius: 0.55rem;
  background-color: #ed4832;
}

#question-view {
  background-color: #FFC73A;
  display: flex;
  align-items: center;
  justify-content: center;
}

#question-container {
  padding: 2rem;
  width: 40vw;
  min-height: 40vh;
  background-color: white;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, .25);
}

#login-container, #waiting-room-container {
  display: flex;
  background-color: #FFC73A;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#login, #waiting-room {
  background-color: white;
  width: 35vw;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, .25);
}

#login h1, #waiting-room h2 {
  margin-top: 0;
}

#login-button, #ready-button, #back-button {
  margin: 3rem auto 0 auto;
  width: 50%;
  height: 3rem;
  background-color: dodgerblue;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#login a {
  text-decoration: none;
}

#home {
  font-weight: 500;
}

#home, #game-container, #editor-outputs, #levels-container {
  display: flex;
  flex-direction: row;
}

#game-name {
  border-top: 1px solid lightgray;
}

#game-name, #capacity-container, #difficulty-container {
  border-left: 1px solid lightgray;
  padding-left: 1rem;
}

#game-name-input, #capacity-input, #difficulty-input {
  border: none;
  border-right: 1px solid lightgray;
}

#levels-container {
  width: 100%;
  height: 3rem;
}

#editor-view, #question-view,
#console-logs, #test-results, .difficulty {
  flex: 1;
}


#editor-view, #question-view {
  padding: 0 1rem;
}

#editor-view {
  overflow-y: scroll;
}

#editor-view h2 {
  margin-top: 0;
  margin-bottom: 17vh;
  padding-top: 1.5rem;
  text-align: right;
}

#editor-view #button-container {
  display: flex;
  flex-direction: row;
}

#test-button, #submit-button, #next-button {
  width: 50%;
  background-color: dodgerblue;
  border: none;
  height: 3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#test-button {
  border-right: 1px solid white;
}

#question-prompt h3 {
  margin-top: 0;
}

#console-logs, #test-results {
  margin-top: 1rem;
  height: auto;
}

#console-logs h4, #test-results h4 {
  margin-top: 0.125rem;
  margin-bottom: 1rem;
}

#console-logs {
  margin-right: 1rem;
}

#test-case-div h4 {
  margin-top: 5rem;
}

#test-list, #results-list,
#test-examples-list {
  list-style-type: none;
}

#test-list, #results-list {
  font-family: monospace;
  padding-left: 0;
  padding-right: 1rem;
}

#test-examples-list {
  padding-left: 0;
}

.test-result, .result-result, .test-examples {
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.test-result:not(:last-child),
.result-result:not(:last-child),
.test-examples:not(:last-child)
{
  border-bottom: 1px solid lightgray;
}

#create-game-container label, #difficulty-label {
  display: inline-block;
  width: 25%;
}

#difficulty-input {
  width: 75%;
  display: inline-block;
  height: 3rem;
}

.difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-stats-container,
#games-control-panel-container {
  height: 100vh;
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-stats-container {
  background-color: #FFC73A;
}

#games-control-panel-container,
#editor-view {
  background-color: white;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, .25);
}

#games-control-panel {
  width: 80%;
  padding: 1rem;
}

#create-game-container {
  margin-bottom: 2rem;
}

#join-game-container {
  background-color: white;
}

#capacity-container {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#create-game-container input {
  font-weight: 500;
  width: 75%;
  padding: 1rem;
}

#create-game-container button,
#join-game-container button {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#create-game-container button:hover,
#join-game-container button:hover,
#test-button:hover,
#submit-button:hover,
#login-button:hover,
#ready-button:hover,
#next-button:hover
{
  background-color: #1d72c4;
}

button:disabled {
  background-color: #D0E7FF !important;
  cursor: auto !important;
}

#create-game-container h3,
#join-game-container h3 {
  margin-bottom: 0.65rem;
}

#games-list {
  height: 40vh;
  overflow-y:scroll;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.game {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.game:hover, .difficulty:hover {
  background-color: #d9ecff;
}

.game-to-join, .selected {
  background-color: #9ecfff !important;
}

.inactive-game {
  color: gray;
}

#game-view {
  height: 100vh;
}

#game-view > h2 {
  margin: 0;
  padding: 1.5rem 0;
  position: absolute;
  width: 50%;
  text-align: center;
}

#game-container {
  height: 100%;
}

.right {
  color: #14d984;
}

.wrong {
  color: #ed4832;
}