@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: 0.5rem;
}

#home {
  font-weight: 500;
  display: flex;
  flex-direction: row;
}

#user-stats-container,
#games-control-panel-container {
  height: 100vh;
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-stats-container {
  background: #ffcf0f;
}

#games-control-panel-container {
  background: white;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, .25);
}

#games-control-panel {
  width: 80%;
  padding: 1rem;
}

#create-game-container {
  margin-bottom: 2rem;
  background: lightgray;
}

#create-game-container input {
  font-weight: 500;
  border-radius: 0.5rem 0.5rem 0 0;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  width: 100%;
  padding: 1rem;
}

#join-game-container {
  background: white;
}

#games-list {
  height: 40vh;
  overflow-y:scroll;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.game {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.game:last-child {
  border-bottom: none;
}

.game:hover{
  background-color: #d9ecff;
}

.game-to-join {
  background-color: #9ecfff !important;
}

.inactive-game {
  color: gray;
}

#create-game-container button,
#join-game-container button {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

#create-game-container button:hover,
#join-game-container button:hover {
  background-color: #1d72c4;
}
